# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config ZMK_BEHAVIOR_CAPS_WORD_CUSTOM
    bool "Custom Caps Word Behavior"
    default n
    help
      Enable custom caps word behavior (central only for split keyboards)
    depends on ZMK_SPLIT_ROLE_CENTRAL || !ZMK_SPLIT